@model IEnumerable<Smartshop_FrontEnd.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<head>
    <meta http-equiv="refresh" content="5" />
    <link rel="stylesheet" type="text/css" href="~/css/cart.css">
</head>

<table>
    <thead>
        <tr>
            <th colspan="1">Id</th>
            <th colspan="1">Nombre del Producto</th>
            <th colspan="1">Precio del Producto</th>
            <th colspan="1">Cantidad</th>
        </tr>
    </thead>
    <tbody>
        @if (@ViewBag.uno != 0)
        {
            <tr>
                <td>
                    C7E72C1B
                </td>
                <td>
                    Queso
                </td>
                <td>
                    2000
                </td>
                <td>
                    @ViewBag.uno
                </td>
            </tr>
        }
        @if (@ViewBag.dos != 0)
        {
            <tr>
                <td>
                    17430352
                </td>
                <td>
                    Pollo
                </td>
                <td>
                    15000
                </td>
                <td>
                    @ViewBag.dos
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <button class="btn d-flex mx-auto" onclick="location.href='@Url.Action("Index", "Payment")'"><b>Generar un código QR</b></button>
</div>